{% extends "layout.html.twig" %}
{% block contenu %}
	<h1> Duke Nukem Forever : site de vente d'arme en tout genre </h1>
	<img src="{{asset('images/')}}gif.gif" alt="giphy" width="100%">
{% endblock %}

