{% extends "layout.html.twig" %}
{% block contenu %}
    <div class="myError" style="width: 500px; height: 50px; line-height: 50px; text-align: center; margin-left: auto; margin-right: auto; margin-top: 50px;">Erreur : vous n'avez pas les droits</div>

{% endblock %}