{% extends "layout.html.twig" %}
{% block contenu %}
	<div class="row">
		<table>
			<caption>Recapitulatif du panier (avec twig)</caption>
			<thead>
			<tr><th>nom</th><th>prix</th>
                {% if   app.session.get('droit') is defined and  app.session.get('droit') == 'DROITadmin' %}
					<th>opération</th>
                {% endif %}
			</tr>
			</thead>
			<tbody>
            {% for panier in data2 if data2 is not empty %}

				<tr>
					<td>{{panier.id}}</td><td>{{panier.prix}}</td>
                    {% if   app.session.get('roles') is defined and  app.session.get('roles') == 'ROLE_ADMIN' %}
						<td>
							<a href="{{ path('panier.deletepanier', {id: panier.id}) }}">supprimer</a>
						</td>
                    {% endif %}
				</tr>
            {% endfor %}
			<tbody>
		</table>
	</div>
{% endblock %}

