{% extends "layout.html.twig" %}

{% block contenu %}

	<h1> Duke Nukem Forever : site de vente d'armes en tout genre espace Admin </h1>
	<img src="{{asset('images/')}}gif.gif" alt="giphy" width="100%">
{% endblock %}

